<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
     <span><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"> <button  mat-fab extended color="primary" class="dashboard" aria-label="Example icon-button with share icon">
        <mat-icon>
            dashboard
        </mat-icon>
        Dashboard
      </button>
    </a>
    </span>
    <span><a routerLink="/post" routerLinkActive="active" ariaCurrentWhenActive="page"> <button  mat-fab extended color="primary" class="dashboard" aria-label="Example icon-button with share icon">
        <mat-icon>
            post_add
        </mat-icon>
        Post
      </button>
    </a>
    </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="openLogin()" mat-fab extended color="primary" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-toolbar>
  </p>