<p>
    <mat-toolbar color="primary">
      <span>Social Blogs</span>
    <div *ngIf="isLoggedIn" >
     <span><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"> <button  mat-fab extended color="primary" class="dashboard" aria-label="Example icon-button with share icon">
        <mat-icon>
            dashboard
        </mat-icon>
        Dashboard
      </button>
    </a>
    </span>
    <span><a routerLink="/post" routerLinkActive="active" ariaCurrentWhenActive="page"> <button  mat-fab extended color="primary" class="dashboard" aria-label="Example icon-button with share icon">
        <mat-icon>
            post_add
        </mat-icon>
        Post
      </button>
    </a>
    </span>
  </div>
      <span class="example-spacer"></span>
      <button  *ngIf="!isLoggedIn"  (click)="openLogin()" mat-fab extended color="primary" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button *ngIf="isLoggedIn" (click)="logout()" mat-fab extended color="primary" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-toolbar>
  </p>
  